@attribute [Authorize]

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home/dashboard">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Home
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link py-2" @onclick="ShowAdminMenuContainer" style="cursor:pointer" href="javascript:void()">
                        <div class="hstack gap-1">
                            <span class="bi bi-person-fill fs-3 text-center" aria-hidden="true" style="margin-top:-1em"></span>
                            <span>Administration</span>
                        </div>
                    </NavLink>
                    <a class="nav-link p-2 text-white cursorStyle" style="margin-left:3rem; visibility:@CssStyle" @onclick="UserTownClicked">
                        <div class="hstack">
                            <span class="bi bi-people fs-5 text-center" aria-hidden="true" style="margin-top:-1em"></span>
                            <span>Users</span>
                        </div>
                    </a>
                </div>
            </Authorized>
        </AuthorizeView>
        <div class="nav-item px-3" style="margin-top:@DepartmentMargin">
            <NavLink class="nav-link py-2 cursorStyle" @onclick="ShowDepartmentContainer" style="cursor:pointer" href="javascript:void()">
                <div class="hstack gap-1">
                    <span class="bi bi-backpack4-fill fs-3 text-center" aria-hidden="true" style="margin-top:-1em"></span>
                    <span>Management</span>
                </div>
            </NavLink>
            <div class="nav-link p-2 text-white" style="margin-left:3rem;visibility:@DepartmentCssStyle">
                <ul class="list-group">
                    <li style="list-style:none" class="cusorStyle">
                        <a class="nav-link p-2 cursorStyle" @onclick="GeneralDepartmentClicked">
                            <div class="hstack text-wrap">
                                <span class="bi bi-file-medical fs-5 text-center" aria-hidden="true" style="margin-top:-1.5em"></span>
                                <span class="fs-6">General Dep</span>
                            </div>
                        </a>
                    </li>
                    <li style="list-style:none" class="cusorStyle">
                        <a class="nav-link p-2 cursorStyle" @onclick="DepartmentClicked">
                            <div class="hstack">
                                <span class="bi bi-substack fs-5 text-center" aria-hidden="true" style="margin-top:-1em"></span>
                                <span>Department</span>
                            </div>
                        </a>
                    </li>
                    <li style="list-style:none" class="cusorStyle">
                        <a class="nav-link p-2 cursorStyle" @onclick="BranchClicked">
                            <div class="hstack">
                                <span class="bi bi-chevron-bar-contract fs-5 text-center" aria-hidden="true" style="margin-top:-1em"></span>
                                <span>Branch</span>
                            </div>
                        </a>
                    </li>
                    <li style="list-style:none">
                        <hr />
                    </li>
                    <li style="list-style:none">
                        <a class="nav-link p-2 cursorStyle" @onclick="CountryClicked">
                            <div class="hstack">
                                <span class="bi bi-geo-alt fs-5 text-center" aria-hidden="true" style="margin-top:-1em"></span>
                                <span>Country</span>
                            </div>
                        </a>
                    </li>
                    <li style="list-style:none">
                        <a class="nav-link p-2 cursorStyle" @onclick="CityClicked">
                            <div class="hstack">
                                <span class="bi bi-pin-map-fill fs-5 text-center" aria-hidden="true" style="margin-top:-1.5em"></span>
                                <span>City</span>
                            </div>
                        </a>
                    </li>
                    <li style="list-style:none">
                        <a class="nav-link p-2 cursorStyle" @onclick="TownClicked">
                            <div class="hstack">
                                <span class="bi bi-geo fs-5 text-center" aria-hidden="true" style="margin-top:-1.5em"></span>
                                <span>Town</span>
                            </div>
                        </a>
                    </li>
                    <li style="list-style:none">
                        <hr />
                    </li>
                    <li style="list-style:none">
                        <a class="nav-link p-2 cursorStyle" @onclick="OvertimeTypeClicked">
                            <div class="hstack">
                                <span class="bi bi-stopwatch fs-5 text-center" aria-hidden="true" style="margin-top:-1.5em"></span>
                                <span>Overtime Type</span>
                            </div>
                        </a>
                    </li>
                    <li style="list-style:none">
                        <a class="nav-link p-2 cursorStyle" @onclick="SactionTypeClicked">
                            <div class="hstack">
                                <span class="bi bi-x-octagon fs-5 text-center" aria-hidden="true" style="margin-top:-1.5em"></span>
                                <span>Saction Type</span>
                            </div>
                        </a>
                    </li>
                    <li style="list-style:none">
                        <a class="nav-link p-2 cursorStyle" @onclick="VacationTypeClicked">
                            <div class="hstack">
                                <span class="bi bi-backpack3 fs-5 text-center" aria-hidden="true" style="margin-top:-1.5em"></span>
                                <span>Vacation Type</span>
                            </div>
                        </a>
                    </li>
                    <li style="list-style:none">
                        <hr />
                    </li>
                    <li style="list-style:none">
                        <a class="nav-link p-2 cursorStyle" @onclick="EmployeeTownClicked">
                            <div class="hstack">
                                <span class="bi bi-people-fill fs-5 text-center" aria-hidden="true" style="margin-top:-1.5em"></span>
                                <span>Employee</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

     
     

    </nav>
</div>


<style>
    .cursorStyle {
        cursor: pointer;
    }
</style>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public string DepartmentMargin { get; set; } = "-3.5rem";
    public string CssStyle = "hidden";
    public bool ShowHide { get; set; } = false;

    private void ShowAdminMenuContainer()
    {
        ShowHide = !ShowHide;
        if (ShowHide)
        {
            DepartmentMargin = "0";
            CssStyle = "visible";
        }
        else
        {
            DepartmentMargin = "-3.5rem";
            CssStyle = "hidden";
        }
    }

    private string DepartmentCssStyle = "hidden";
    public bool ShowHideDepartment { get; set; } = false;
    private void ShowDepartmentContainer()
    {
        ShowHideDepartment = !ShowHideDepartment;
        if (ShowHideDepartment)
            DepartmentCssStyle = "visible";
        else
            DepartmentCssStyle = "hidden";
    }
    //General Departments / Department / Branch
    void GeneralDepartmentClicked() => allState.GeneralDepartmentClicked();

    void DepartmentClicked() => allState.DepartmentClicked();

    void BranchClicked() => allState.BranchClicked();

    //Country / City / Town
    void CountryClicked() => allState.CountryClicked();

    void CityClicked() => allState.CityClicked();

    void TownClicked() => allState.TownClicked();

    //VacationType / OvertimeType / SactionType
    void VacationTypeClicked() => allState.VacationTypeClicked();

    void OvertimeTypeClicked() => allState.OvertimeTypeClicked();

    void SactionTypeClicked() => allState.SactionTypeClicked();

    //User
    void UserTownClicked() => allState.UserTownClicked();

    //Employee
    void EmployeeTownClicked() => allState.EmployeeTownClicked();
}
