<div class="container">
    <div class="row">
        <div class="col-lg-2 cursorStyle">
            <div class="card border-primary">
                <div class="card-header"><i class="bi bi-people text-primary mx-1"></i>Employees</div>
            </div>
        </div>
         <div class="col-lg-2 cursorStyle">
            <div class="card border-success">
                <div class="card-header"><i class="bi bi-backpack3 text-success mx-1"></i>Vacation</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-danger">
                <div class="card-header"><i class="bi bi-stopwatch text-danger mx-1"></i>Overtime</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-warning">
                <div class="card-header"><i class="bi bi-hospital text-warning mx-1"></i>Doctor</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-info">
                <div class="card-header"><i class="bi bi-x-octagon text-info mx-1"></i>Sanctions</div>
            </div>
        </div>
        <div class="col-lg-2 cursorStyle">
            <div class="card border-dark">
                <div class="card-header"><i class="bi bi-slack text-dark mx-1"></i>Departments</div>
            </div>
        </div>
    </div>
</div>