
<SfDialog Width="280px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogEvents OnOpen="OpenDialog"></DialogEvents>
    <DialogTemplates>
        <Header>@Title Town</Header>
        <Content>
            <EditForm Model="Town" Enhance OnSubmit="Save">
                <div class="card border-success">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Id</label>
                            <input @bind="Town.Id" class="form-control" disabled />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Name</label>
                            <InputText @bind-Value="Town.Name" class="form-control" />
                        </div>
                        <div class="form-group mt-3 mb-3">
                            <label class="form-label">Select Country</label>

                            @if (Town.City != null)
                            {
                                string selected = Town.City!.Name;
                                <SfDropDownList TValue="string" TItem="City" Placeholder="@selected" DataSource="Cities">
                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="string" TItem="City" ValueChange="OnValueChange"></DropDownListEvents>
                                </SfDropDownList>
                            }
                            else 
                            {
                                <SfDropDownList TValue="string" TItem="City" Placeholder="Select City" DataSource="Cities">
                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="string" TItem="City" ValueChange="OnValueChange"></DropDownListEvents>
                                </SfDropDownList>
                            }
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary float-end" type="submit">SAVE</button>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>


@code {
    [Parameter] public Town Town { get; set; } = new();
    [Parameter] public List<City> Cities { get; set; } = new();
    [Parameter] public EventCallback<Town> HandleSaveOperationEvent { get; set; }

    private bool IsVisible { get; set; } = false;
    public string Title { get; set; } = "Add";

    private async void Save()
    {
        if (string.IsNullOrEmpty(Town.Name) || Town.CityId <= 0)
            await dialogService.AlertAsync("You need to provide Country name.", "Alert!");
        else
            await HandleSaveOperationEvent.InvokeAsync(Town);
    }
    public async Task OpenDialog()
    {
        IsVisible = true;
        await ForceLoadcities();
        StateHasChanged();
    }

    async Task ForceLoadcities() =>
       Cities = await cityService.GetAll(Constants.CityBaseUrl);

    public void ChangeTitle(string title)
    {
        Title = title;
    }
    public void OnValueChange(ChangeEventArgs<string, City> args)
    {
        Town.CityId = int.Parse(args.Value);
    }
}
