<SfDialog Width="100px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogEvents OnOpen="OpenContextMenu"></DialogEvents>
    <DialogTemplates>
        <Header>Employee Menu</Header>
        <Content>
            <div class="hstack gap-2 mb-2" id="cursorStyle" @onclick="ViewClicked">
                <i class="bi bi-eye text-info"></i>
                <span id="cursorStyle" class="text-info">View</span>
            </div>
            <div class="hstack gap-2 mb-2" id="cursorStyle" @onclick="EditClicked">
                <i class="bi bi-pencil text-primary"></i>
                <span id="cursorStyle" class="text-info">Edit</span>
            </div>
            <div class="hstack gap-2 mb-2" id="cursorStyle" @onclick="DeleteClicked">
                <i class="bi bi-trash text-danger"></i>
                <span id="cursorStyle" class="text-danger">Delete</span>
            </div>
            <hr />
            <div class="hstack gap-2 mb-2" id="cursorStyle" @onclick="AddVacationClicked">
                <i class="bi bi-backpack3 text-success"></i>
                <span id="cursorStyle" class="text-info">Add Vacation</span>
            </div>
            <div class="hstack gap-2 mb-2" id="cursorStyle" @onclick="AddOvertimeClicked">
                <i class="bi bi-stopwatch text-danger"></i>
                <span id="cursorStyle" class="text-danger">Add Overtime</span>
            </div>
            <div class="hstack gap-2 mb-2" id="cursorStyle" @onclick="AddHealthClicked">
                <i class="bi bi-hospital text-warning"></i>
                <span id="cursorStyle" class="text-info">Add Health</span>
            </div>
            <div class="hstack gap-2 mb-2" id="cursorStyle" @onclick="AddSactionClicked">
                <i class="bi bi-x-octagon text-info"></i>
                <span id="cursorStyle" class="text-info">Add Saction</span>
            </div>
        </Content>
    </DialogTemplates>
</SfDialog>
<style>
    #cursorStyle {
        cursor: pointer;
    }
</style>

@code {
    SfDialog? OpenDialog;
    private bool IsVisible { get; set; } = false;

    [Parameter] public EventCallback HandleViewClicked { get; set; }
    private async Task ViewClicked() => await HandleViewClicked.InvokeAsync();

    [Parameter] public EventCallback HandleEditClicked { get; set; }
    private async Task EditClicked() => await HandleEditClicked.InvokeAsync();

    [Parameter] public EventCallback HandleDeleteClicked { get; set; }
    private async Task DeleteClicked() => await HandleDeleteClicked.InvokeAsync();

    [Parameter] public EventCallback HandleAddVacationClicked { get; set; }
    private async Task AddVacationClicked() => await HandleAddVacationClicked.InvokeAsync();

    [Parameter] public EventCallback HandleAddOvertimeClicked { get; set; }
    private async Task AddOvertimeClicked() => await HandleAddOvertimeClicked.InvokeAsync();

    [Parameter] public EventCallback HandleAddSactionClicked { get; set; }
    private async Task AddSactionClicked() => await HandleAddSactionClicked.InvokeAsync();

    [Parameter] public EventCallback HandleAddHealthClicked { get; set; }
    private async Task AddHealthClicked() => await HandleAddHealthClicked.InvokeAsync();

    public void OpenContextMenu()
    {
        IsVisible = true;
        StateHasChanged();
    }
    public void CloseContextMenu()
    {
        IsVisible = false;
        StateHasChanged();
    }
} 